@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #F2F2F3;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
	background-color: #181A1D;
}

button:hover {
	background-color: #2B2B34;
}

header {
  background-color: #181A1D;
  height: 50px;
  display: flex;
  justify-content: space-between;
	border-bottom: #2D2F34 1px solid;
}

main {
  background-color: rgba(19, 20, 22, 0.97);
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
	flex-direction: column;
  justify-content: flex-start;
}

td {
	width: auto;
	height: auto;
	text-align: center;
	vertical-align: middle;
}

tr td:last-child {
	width: 1%;
	white-space: nowrap;
}

.navigation {
  background-color: rgba(19, 20, 22, 0.97);
  width: 250px;
	height: calc(100vh - 50px);
  display: flex;
	flex-direction: column;
  justify-content: space-between;
	border-right: #2D2F34 1px solid;
}

.navigation-button {
	width: 200px;
	height: 35px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	text-align: left;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation-hidden {
	width: 0px;
	padding: 0px;
	border-right: #2D2F34 0px solid;
	visibility: hidden;
}

.blue-button {
	color: #fff;
	background-color: #0159CF;
}

.blue-button:hover {
	background-color: #6d90dd;
}

.bottom-nav {
	justify-self: flex-end;
	border-top: #2D2F34 1px solid;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
	background-image: url("./assets/f1-4k.jpg");
	background-color: #181A1D;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	border-bottom: #2D2F34 1px solid;
}

.dark-button {
	color: #fff;
	background-color: #393B3F;
}

.driver-count-container {
	min-width: none;
	max-width: 60px;
	margin:auto;
	width: fit-content;
	background-color: #fff;
	color: #000;
	padding-left: 6px;
	padding-right: 7px;
	padding-top: 1px;
	border-radius: 20px;
}

.driver-count-text {
	padding-left: 2px;
	font-weight: lighter;
}

.header-button {
	height: 30px;
	max-width: 100%;
	padding-left: 7px;
	padding-right: 7px;
	background-color: #42424A;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 4px;
	margin-right: 4px;
}

.header-button-clear {
	height: 30px;
	max-width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #181A1D;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.header-clock {
	color: #799AC8;
	background-color: #32394A;
	border-radius: 8px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 3px;
}

.header-logo {
	width: auto;
	height: 40px;
}

.header-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.license-class-text {
	font-weight: bold;
}

.license-col {
	display: flex;
	flex-direction: column;
}

.license-group {
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-right: 10px;
}

.license-item {
	height: 22px;
	min-width: 85px;
	max-width: 85px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 8px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.license-4 {
	color: #006EFF;
	background-color: #032E6F;
	border: #006EFF 1px solid;
}

.license-3 {
	color: #33CC00;
	background-color: #165509;
	border: #33CC00 1px solid;
}

.license-2 {
	color: #FFCC00;
	background-color: #50410A;
	border: #FFCC00 1px solid;
}

.license-1 {
	color: #FF6600;
	background-color: #692C09;
	border: #FF6600 1px solid;
}

.license-0 {
	color: #E1251C;
	background-color: #5D1214;
	border: #E1251C 1px solid;
}

.multi-car-counter {
	background-color: #37363F;
	width: fit-content;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nav-item-button-text {
	padding-top: 5px;
}

.nav-item-button-text-icon {
	padding-top: 2px;
	padding-left: 7px;
}

.nav-item {
	border-bottom: #2D2F34 1px solid;
	border-radius: 0px;
	width: 100%;
}

.nav-title-text {
	font-size: 1.21rem;
	padding-left: 7px;
}

.profile-button {
	background-color: #181A1D;
	height: 100%;
	width: 40px;
	padding: 0px;
}

.profile-button:hover {
	background-color: #181A1D;
}

.profile-divider {
	width: 100%;
	border: #2D2F34 1px solid;
}

.quick-access-actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quick-access-button {
	background-color: #42424A;
	width: 170px;
	height: 50px;
	margin-left: 5px;
	margin-right: 10px;
	border-radius: 8px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quick-access-button:hover {
	background-color: #2B2B34
}

.quick-access-button-green {
	background-color: #33CC00;
	color: #0E2D0D;
	width: 170px;
	height: 50px;
	margin-left: 5px;
	margin-right: 10px;
	border-radius: 8px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quick-access-button-green:hover {
	background-color: #85E066;
}

.quick-access-button-text {
	padding-top: 5px;
	margin-left: 10px;
}

.quick-access-container {
	width: 100%;
	height: 95px;
	border-bottom: #2D2F34 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.quick-access-text {
	margin-left: 20px;
	font-size: 20px;
}

.quick-access-text-light {
	font-size: 18px;
	font-weight: lighter;
	margin-left: 5px;
}

.register-button {
	background-color: #33CC00;
	color: #0E2D0D;
	width: 130px;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 3px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.register-button:hover {
	background-color: #85E066;
}

.safety-rating-text {
	font-weight: bolder;
	padding-right: 3px;
	padding-left: 5px;
}

.safety-rating-text-road {
	font-weight: bolder;
	padding-right: 3px;
}

.series-table {
	width: 100%;
	height: 100%;
}

.series-table-header {
	background-color: rgba(162, 172, 185, 0.1);
	height: 25px;
}

.series-table-header-drivers {
	width: 100px;
}

.series-table-header-license {
	width: 90px;
}

.series-table-header-logo {
	width: 90px;
}

.series-table-header-long {
	text-align: left;
}

.series-table-item {
	height: 25px;
}

.series-table-item-alt {
	background-color: rgba(162, 172, 185, 0.1);
}

.series-table-item-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.standard-divider {
	width: 100%;
	height: 1px;
	background-color: #2D2F34;
	margin-bottom: 15px;
}

.title-with-icon {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.top-nav {
	justify-self: flex-start;
}

.view-series-button {
	background-color: #006EFF;
	width: 130px;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 3px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.view-series-button:hover {
	background-color: #6d90dd;
}
