@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #F2F2F3;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
	background-color: #181A1D;
}

button:hover {
	background-color: #2B2B34;
}

header {
  background-color: #181A1D;
  height: 50px;
  display: flex;
  justify-content: space-between;
	border-bottom: #2D2F34 1px solid;
}

main {
  background-color: rgba(19, 20, 22, 0.97);
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
	flex-direction: column;
  justify-content: flex-start;
}

.navigation {
  background-color: rgba(19, 20, 22, 0.97);
  width: 250px;
	height: calc(100vh - 50px);
  display: flex;
	flex-direction: column;
  justify-content: space-between;
	border-right: #2D2F34 1px solid;
}

.navigation-button {
	width: 200px;
	height: 35px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	text-align: left;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation-hidden {
	width: 0px;
	padding: 0px;
	border-right: #2D2F34 0px solid;
	visibility: hidden;
}

.blue-button {
	color: #fff;
	background-color: #0159CF;
}

.blue-button:hover {
	background-color: #6d90dd;
}

.bottom-nav {
	justify-self: flex-end;
	border-top: #2D2F34 1px solid;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
	background-image: url("./assets/f1-4k.jpg");
	background-color: #181A1D;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	border-bottom: #2D2F34 1px solid;
}

.dark-button {
	color: #fff;
	background-color: #393B3F;
}

.header-button {
	height: 30px;
	max-width: 100%;
	padding-left: 7px;
	padding-right: 7px;
	background-color: #42424A;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 4px;
	margin-right: 4px;
}

.header-button-clear {
	height: 30px;
	max-width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #181A1D;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.header-clock {
	color: #799AC8;
	background-color: #32394A;
	border-radius: 8px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 3px;
}

.header-logo {
	width: auto;
	height: 40px;
}

.header-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.license-class-text {
	font-weight: bolder;
	margin-top: 2px;
}

.license-col {
	display: flex;
	flex-direction: column;
}

.license-group {
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-right: 10px;
}

.license-item {
	width: 85px;
	height: 22px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 1px;
}

.license-4 {
	color: #006EFF;
	background-color: #032E6F;
	border: #006EFF 1px solid;
}

.license-3 {
	color: #33CC00;
	background-color: #165509;
	border: #33CC00 1px solid;
}

.license-2 {
	color: #FFCC00;
	background-color: #50410A;
	border: #FFCC00 1px solid;
}

.license-1 {
	color: #FF6600;
	background-color: #692C09;
	border: #FF6600 1px solid;
}

.license-0 {
	color: #E1251C;
	background-color: #5D1214;
	border: #E1251C 1px solid;
}

.nav-item-button-text {
	padding-top: 5px;
}

.nav-item-button-text-icon {
	padding-top: 2px;
	padding-left: 7px;
}

.nav-item {
	border-bottom: #2D2F34 1px solid;
	border-radius: 0px;
	width: 100%;
}

.nav-title-text {
	font-size: 1.21rem;
	padding-left: 7px;
}

.profile-button {
	background-color: #181A1D;
	height: 100%;
	width: 40px;
	padding: 0px;
}

.profile-button:hover {
	background-color: #181A1D;
}

.profile-divider {
	width: 100%;
	border: #2D2F34 1px solid;
}

.quick-access-actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quick-access-button {
	background-color: #42424A;
	width: 170px;
	height: 50px;
	margin-left: 5px;
	margin-right: 10px;
	border-radius: 8px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quick-access-button:hover {
	background-color: #2B2B34
}

.quick-access-button-green {
	background-color: #33CC00;
	color: #0E2D0D;
	width: 170px;
	height: 50px;
	margin-left: 5px;
	margin-right: 10px;
	border-radius: 8px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quick-access-button-green:hover {
	background-color: #85E066;
}

.quick-access-button-text {
	padding-top: 5px;
	margin-left: 10px;
}

.quick-access-container {
	width: 100%;
	height: 95px;
	border-bottom: #2D2F34 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.quick-access-text {
	margin-left: 20px;
	font-size: 20px;
}

.quick-access-text-light {
	font-size: 18px;
	font-weight: lighter;
	margin-left: 5px;
}

.safety-rating-text {
	font-weight: bolder;
	padding-right: 3px;
	padding-left: 5px;
}

.safety-rating-text-road {
	font-weight: bolder;
	padding-right: 3px;
}

.title-with-icon {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.top-nav {
	justify-self: flex-start;
}
