@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
	background-color: #181A1D;
}

button:hover {
	background-color: #2D2F34;
}

header {
  background-color: #181A1D;
  height: 60px;
  display: flex;
  justify-content: space-between;
	border-bottom: #2D2F34 1px solid;
}

main {
  background-color: rgba(19, 20, 22, 0.97);
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
	transform: scaleX(1);
	padding: 12px;
}

.navigation {
  background-color: rgba(19, 20, 22, 0.97);
  width: 250px;
	height: calc(100vh - 60px);
  display: flex;
	flex-direction: column;
  justify-content: space-between;
	border-right: #2D2F34 1px solid;
}

.navigation-button {
	width: 200px;
	height: 35px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	text-align: left;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation-hidden {
	width: 0%;
}

.blue-button {
	color: #fff;
	background-color: #0159CF;
}

.blue-button:hover {
	background-color: #6d90dd;
}

.bottom-nav {
	justify-self: flex-end;
	border-top: #2D2F34 1px solid;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
	background-image: url("./assets/f1-4k.jpg");
	background-color: #181A1D;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	border-bottom: #2D2F34 1px solid;
}

.dark-button {
	color: #fff;
	background-color: #393B3F;
}

.header-button {
	height: 30px;
	max-width: 100%;
	padding-left: 7px;
	padding-right: 7px;
	background-color: #42424A;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 4px;
	margin-right: 4px;
}

.header-button-clear {
	height: 30px;
	max-width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #181A1D;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.header-clock {
	color: #799AC8;
	background-color: #32394A;
	border-radius: 8px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 3px;
}

.header-logo {
	width: auto;
	height: 40px;
}

.header-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-item-button-text {
	padding-top: 2px;
}

.nav-item-button-text-icon {
	padding-top: 2px;
	padding-left: 7px;
}

.nav-item {
	border-bottom: #2D2F34 1px solid;
	border-radius: 0px;
	width: 100%;
}

.nav-title-text {
	font-size: 1.21rem;
	padding-left: 7px;
}

.title-with-icon {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.top-nav {
	justify-self: flex-start;
}
